# ==============================
# BACKEND API (electricLetterAPI)
# ==============================
Django==5.1.4
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.7.0
django-cloudinary-storage==0.3.0

PyJWT==2.10.1
PyPDF2==3.0.1
python-docx==1.1.0
reportlab>=4.2.0
cloudinary==1.44.1
pytz==2023.3.post1
sqlparse==0.4.4
requests==2.31.0
python-dotenv==1.0.1

psycopg2-binary==2.9.10
dj-database-url==2.3.0
gunicorn==23.0.0
whitenoise==6.11.0
Pillow==11.1.0