{% extends "base.html" %}
{% block title %}Оюутан засах{% endblock %}
{% block content %}
<h2>Оюутан засах</h2>

{% if error %}<div style="color:red;">{{ error }}</div>{% endif %}

<form method="POST" style="max-width:600px;">
  {% csrf_token %}
  <label>Нэр:</label><br>
  <input name="full_name" value="{{ student.full_name }}" required style="width:100%; padding:0.5rem; margin-bottom:0.6rem;" />
  <label>Оюутны код:</label><br>
  <input name="student_code" value="{{ student.student_code }}" required style="width:100%; padding:0.5rem; margin-bottom:0.6rem;" />
  <button type="submit">Хадгалах</button>
  <a href="{% url 'student_view' student.id %}"><button type="button">Буцах</button></a>
</form>
{% endblock %}
