{% extends "base.html" %}
{% block title %}{{ course.name }} - Элсэлтүүд{% endblock %}
{% block content %}
<h2>Курс: {{ course.name }} ({{ course.code }}) - Элсэлтүүд</h2>
<table style="width:100%;" border="1">
  <thead><tr><th>№</th><th>Оюутан</th><th>Код</th><th>Үйлдэл</th></tr></thead>
  <tbody>
    {% for s in students %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ s.full_name }}</td>
      <td>{{ s.student_code }}</td>
      <td><a href="{% url 'enrollment_delete' s.enroll_id %}"><button style="background:#ef4444;color:white;">Устгах</button></a></td>
    </tr>
    {% empty %}
    <tr><td colspan="4">Энэ курст элсэлт байхгүй байна</td></tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'courses_list' %}"><button>Курс руу буцах</button></a>
{% endblock %}
